# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
DerivedData/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcarchive
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
*.swp

# Generated
Pokedex.xcodeproj/
